/* TODO: CSS*/
li {
    list-style: none;
    display: inline-block;
    width: 30%;
    top: 20px;
}
::-webkit-scrollbar {
    width: 25px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 58px;
}
::-webkit-scrollbar-thumb {
    border-radius: 58px;
    background: #80FFFF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}
.red {
    background: #FF0000;
}
.closeBox {
    margin: 4px 8px 2px 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background: #FF0000;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}
.closeBox:hover {
    background: #0000FF;
}
.info {
    background: #00FFBB;
    text-align: center;
}
.search-box {
    display: block;
    font-size: 1.3em;
    color: #37C8C0;
    z-index: 6;
    position: fixed;
    left: 25px;
    top: 25px;
    height: 33px;
    width: 401px;
    border: 2px solid #FD0090;
    box-shadow: -8px -5px 42px 2px rgba(0, 0, 0, 0.75);
}
.search-button {
    background: #FD0090;
    border: 2px solid #FD0090;
    font-size: 1.2em;
    color: #FFFFFF;
    z-index: 6;
    position: fixed;
    left: 426px;
    top: 25px;
    height: 33px;
    width: 63px;
}
#click-box {
    background: rgba(255, 0, 255, 0.45);
    z-index: 5;
    position: fixed;
    left: 25px;
    top: 50px;
    height: 43px;
    width: 401px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
}
#click-box:hover {
    background: rgba(100, 176, 75, 0.33);
    z-index: 6;
    position: fixed;
    left: 25px;
    top: 58px;
    height: 100px;
    width: 401px;
    box-shadow: 10px 17px 67px 7px rgba(7, 6, 61, 1);
    transition: width 1s, height 0.5s, background-color 1s, -webkit-transform 1s;
}
.misc-list {
    top: 0px;
    height: 50px;
    background: #FF0000;
    right: 50px;
    width: 25%;
    color: blue;
    position: absolute;
    z-index: 5;
}
#venue-box {
    top: 150px;
    height: 360px;
    background: rgba(255, 0, 255, 0.45);
    left: 50px;
    width: 25%;
    color: #FFFFFF;
    position: absolute;
    z-index: 5;
    overflow-x: hidden;
    overflow: auto;
    box-shadow: 10px 17px 67px 7px rgba(7, 6, 61, 1);
}
.venue-nameRate {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 15px 0 15px;
}
.venue-nameRate:hover {
    background: rgba(100, 176, 75, 0.33);
    cursor: pointer;
}
.venue-name {
    list-style-type: none;
    color: #C6F9F1;
    padding: 8px 0 8px 0;
    width: 65%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}
.venue-rate {
    border-radius: 5px;
    text-align: right;
    margin: 15px;
    background: #FFB905;
    padding: 5px;
    height: 30px;
    font-size: 16px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.filter-box {
    top: 50px;
    height: 500px;
    background: #FFFF00;
    right: 50px;
    width: 25%;
    color: blue;
    position: absolute;
    z-index: 5;
}
.name {
    font-size: 24px;
    font-weight: 400;
    color: #1A00FF;
    background: #00FFBB;
}
.address {
    font-size: 16px;
}
.rating {
    background: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px;
    font-weight: 500;
}
.website {
    font-size: 16px;
}
.phone {
    font-size: 16px;
}
.floatLeft {
    float: left;
}
/* TODO: Mobile view */

