/* * {
    border: 1px solid red;
} */

html,
body {
    height: 100%;
    background-image: url(http://s1.favim.com/orig/13/cosmos-nebula-stars-Favim.com-180490.jpg);
    color: #FFFFFF;
    background-color: #00FFFF !important;
    overflow: hidden;
}
#map-canvas {
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    position: absolute !important;
    height: 100%;
    width: 100%;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    color: #990606;
    font-size: 16px;
}
li:hover {
    color: #EEE8AA;
    background: #990606;
}
::-webkit-scrollbar {
    width: 25px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 58px;
}
::-webkit-scrollbar-thumb {
    border-radius: 58px;
    background: #80FFFF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}
.red {
    background: #FF0000;
}
.closeBox {
    margin: 4px 8px 2px 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background: #FF0000;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}
.closeBox:hover {
    background: #0000FF;
}
.info {
    background: #00FFBB;
    text-align: center;
}
.search-box {
    display: block;
    font-size: 1.3em;
    color: #408080;
    z-index: 6;
    height: 33px;
}
.search-button {
    background: #FD0090;
    border: 2px solid #FD0090;
    font-size: 1.2em;
    color: #FFFFFF;
    z-index: 6;
    position: fixed;
    left: 426px;
    top: 25px;
    height: 33px;
    width: 6%;
}
#click-box {
    background: #FAEBD7;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.instructions {
    color: #990606;
    font-size: 18px;
    background: #FAEBD7;
}
#venue-box {
    height: 300px;
    background: rgba(100, 176, 75, 0.33);
    color: #FFFFFF;
    overflow: auto;
    box-shadow: 10px 17px 67px 7px rgba(7, 6, 61, 1);
}
.venue-nameRate {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 15px 0 15px;
    color: #990606;
    }
.venue-nameRate:hover {
    background: #990606;
    cursor: pointer;
    color: #EEE8AA;
}
.venue-name {
    list-style-type: none;
    padding: 8px 0 8px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}
.venue-rate {
    border-radius: 5px;
    text-align: center;
    margin: 15px;
    background: #FFB905;
    padding: 5px;
    height: 30px;
    font-size: 16px;
}
.filter-box {
    top: 50px;
    height: 500px;
    background: #FFFF00;
    right: 50px;
    width: 25%;
    color: blue;
    position: absolute;
    z-index: 5;
}
.name {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    background: #00FFBB;
}
.address {
    font-size: 16px;
}
.rating {
    background: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px;
    font-weight: 500;
}
.website {
    font-size: 16px;
}
.phone {
    font-size: 16px;
}
.floatLeft {
    float: left;
}
.height {
    height: 400px;
}
.error {
    background: #FF0000;
    color: #FFFFFF;
    font-size: 16px;
}
@media only screen and (max-width: 670px) {
    .instructions {
        display: none;
    }
    .venue-rate {
        display: none;
    }
    .venue-name {
        list-style-type: none;
        padding: 8px 0 8px 0;
        width: 65%;
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        font-family: sans-serif;
    }
    .venue-nameRate {
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
@media only screen and (max-width: 989px) {
    .venue-rate {
        display: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}