/* TODO: CSS*/

.red {
    background: #FF0000;
}
.info {
    background: #00FFBB;
    text-align: center;
}
.nameRate {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 15px 0 15px;
}
.category-rate {
    border-radius: 5px;
    text-align: right;
    margin: 15px;
    background: rgb(5, 138, 255);
    padding: 5px;
    height: 30px;
    font-size: 16px;
}
.search-box {
    display: block;
    font-size: 1.3em;
    color: #FFFFFF;
    background: #37C8C0;
    z-index: 6;
    position: fixed;
    left: 25px;
    top: 25px;
    height: 33px;
    width: 401px;
    border: 2px solid #FD0090;
    box-shadow: -8px -5px 42px 2px rgba(0, 0, 0, 0.75);
}
.search-button {
    background: #FD0090;
    border: 2px solid #FD0090;
    font-size: 1.2em;
    color: #FFFFFF;
    z-index: 6;
    position: fixed;
    left: 426px;
    top: 25px;
    height: 33px;
    width: 63px;
}
.show-categories {
    background: #C0C0C0;
    z-index: 5;
    position: fixed;
    left: 25px;
    top: 50px;
    height: 43px;
    width: 401px;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
}
.show-categories:hover {
    background: rgba(100, 176, 75, 0.33);
    z-index: 6;
    position: fixed;
    left: 25px;
    top: 58px;
    height: 100px;
    width: 401px;
    box-shadow: 10px 17px 67px 7px rgba(7, 6, 61, 1);
    transition: width 1s, height 0.5s, background-color 1s, -webkit-transform 1s;
}
.misc-list {
    top: 0px;
    height: 50px;
    background: #FF0000;
    right: 50px;
    width: 25%;
    color: blue;
    position: absolute;
    z-index: 5;
}
.category-box {
    top: 150px;
    height: 360px;
    background: #FF00FF;
    left: 50px;
    width: 25%;
    color: #FFFFFF;
    position: absolute;
    z-index: 5;
    overflow-x: hidden;
    overflow: auto;
}
.category-list {
    list-style-type: none;
    padding: 8px 0 8px 0;
    width: 65%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: sans-serif;
}
.filter-box {
    top: 50px;
    height: 500px;
    background: #FFFF00;
    right: 50px;
    width: 25%;
    color: blue;
    position: absolute;
    z-index: 5;
}
.name {
    font-size: 32px;
    font-weight: 600;
    color: #1A00FF;
    background: #00FFBB;
}
.address {
    font-size: 16px;
}
.rating {
    background: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    padding: 4px;
    font-weight: 500;
}
.website {
    font-size: 16px;
}
.phone {
    font-size: 16px;
}
.floatLeft {
    float: left;
}
/* TODO: Mobile view */

